<div class="container">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Upcoming Games</div>
      <div class="panel-body">
        <div class="score-card-container">
          <score-card ng-repeat="upcomingGame in $ctrl.upcomingGames.rows"
            game-info="upcomingGame">
          </score-card>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">Latest Transactions</div>
      <div class="panel-body">
        <grid grid-options="$ctrl.gridOptions"></grid>
      </div>
    </div>
  </div>
</div>