<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Recent Games</div>
        <div class="panel-body">
          <span ng-if="$ctrl.recentGames.length === 0">No recent games.</span>
          <span ng-if="!$ctrl.recentGames && !$ctrl.loadingRecentGames">Error loading recent games.</span>
          <loader ng-if="$ctrl.loadingRecentGames"></loader>
          <div class="score-card-container">
            <score-card ng-repeat="recentGame in $ctrl.recentGames"
              game-info="recentGame">
            </score-card>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Upcoming Games</div>
        <div class="panel-body">
          <span ng-if="$ctrl.upcomingGames.length === 0">No upcoming games.</span>
          <span ng-if="!$ctrl.upcomingGames && !$ctrl.loadingUpcomingGames">Error loading upcoming games.</span>
          <loader ng-if="$ctrl.loadingUpcomingGames"></loader>
          <div class="score-card-container">
            <score-card ng-repeat="upcomingGame in $ctrl.upcomingGames"
              game-info="upcomingGame">
            </score-card>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">News</div>
        <div class="panel-body">
          <span ng-if="$ctrl.recentNews.items.length === 0">No recent news.</span>
          <span ng-if="!$ctrl.recentNews && !$ctrl.loadingRecentNews">Error loading recent news.</span>
          <loader ng-if="$ctrl.loadingRecentNews"></loader>
          <div class="news-article-container">
            <news-article ng-repeat="article in $ctrl.recentNews.items"
              article="article"></news-article>
            <div class="news-more-link" ng-if="$ctrl.recentNews.more"><a ng-href="{{ $ctrl.recentNews.link }}">Older news</a></div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Latest Transactions, Injuries, and Suspensions</div>
        <div class="panel-body">
          <grid grid-options="$ctrl.gridOptions"></grid>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default" ng-src-failover ng-if="$ctrl.picOfTheDayConfig">
        <div class="panel-body">
          <div class="img">
            <a ng-href="{{ $ctrl.picOfTheDayConfig.imgUrl }}">
              <img ng-src="{{ $ctrl.picOfTheDayConfig.imgUrl }}"></img>
            </a>
          </div>

          <h6 class="caption"><span ng-bind="$ctrl.picOfTheDayConfig.caption"></h6>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Commissioner</div>
        <div class="panel-body">
          <twitter-timeline></twitter-timeline>
        </div>
      </div>
    </div>
  </div>
</div>