.STHSGame_GoalsShotsMainTable {
  font-size: 13px;

  .STHSGame_GoalsTable, .STHSGame_ShotsTable {
    margin-right: 10px;
    font-size: 13px;

    tr:first-child {
      font-weight: bold;
    }

    td {
      padding: 5px;
    }
  }
}