<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <loader ng-if="$ctrl.loading"></loader>
      <div class="panel-heading">Draft Picks</div>
      <div class="panel-body">
        <span ng-if="$ctrl.loadingFailed">Error loading results.</span>
        <table class="table" ng-if="!$ctrl.loading && !$ctrl.loadingFailed">
          <thead>
            <tr>
              <th class="text-center">Year</th>
              <th>Picks</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="year in $ctrl.draftPickYears">
              <td class="text-center"><span ng-bind="year"></span></td>
              <td><span ng-bind="$ctrl.getDraftPicksInYear(year)"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-if="!$ctrl.loading && !$ctrl.loadingFailed">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Left Wing</div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Potential</th>
              <th>Overall</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="player in $ctrl.leftWingers">
              <td><a ng-href="/#!/skaters/{{ player.UniqueID }}"><span ng-bind="player.Name"></span></a></td>
              <td class="text-center"><span ng-bind="player.Age"></span></td>
              <td class="text-center"><span ng-bind="player.PO"></span></td>
              <td class="text-center"><span ng-bind="player.Overall"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Center</div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Potential</th>
              <th>Overall</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="player in $ctrl.centers">
              <td><a ng-href="/#!/skaters/{{ player.UniqueID }}"><span ng-bind="player.Name"></span></a></td>
              <td class="text-center"><span ng-bind="player.Age"></span></td>
              <td class="text-center"><span ng-bind="player.PO"></span></td>
              <td class="text-center"><span ng-bind="player.Overall"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Right Wing</div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Potential</th>
              <th>Overall</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="player in $ctrl.rightWingers">
              <td><a ng-href="/#!/skaters/{{ player.UniqueID }}"><span ng-bind="player.Name"></span></a></td>
              <td class="text-center"><span ng-bind="player.Age"></span></td>
              <td class="text-center"><span ng-bind="player.PO"></span></td>
              <td class="text-center"><span ng-bind="player.Overall"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<div class="row" ng-if="!$ctrl.loading && !$ctrl.loadingFailed">
  <div class="col-md-4 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">Defense</div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Potential</th>
              <th>Overall</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="player in $ctrl.defense">
              <td><a ng-href="/#!/skaters/{{ player.UniqueID }}"><span ng-bind="player.Name"></span></a></td>
              <td class="text-center"><span ng-bind="player.Age"></span></td>
              <td class="text-center"><span ng-bind="player.PO"></span></td>
              <td class="text-center"><span ng-bind="player.Overall"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Goalies</div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Potential</th>
              <th>Overall</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="player in $ctrl.goalies">
              <td><a ng-href="/#!/goalies/{{ player.UniqueID }}"><span ng-bind="player.Name"></span></a></td>
              <td class="text-center"><span ng-bind="player.Age"></span></td>
              <td class="text-center"><span ng-bind="player.PO"></span></td>
              <td class="text-center"><span ng-bind="player.Overall"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
