<div class="table-responsive base-grid">

  <div class="loader-overlay" ng-if="$ctrl.loading">
    <div class="loader-inner line-scale">
      <div></div><div></div><div></div><div></div><div></div>
    </div>
  </div>

  <span ng-if="!$ctrl.loading && !$ctrl.rows || $ctrl.rows.length === 0">No results found.</span>

  <table class="table table-hover table-condensed"
    ng-hide="!$ctrl.loading && !$ctrl.rows || $ctrl.rows.length === 0">
    <thead>
      <th ng-if="$ctrl.gridOptions.showIndexColumn"
        class="header-cell-index"
        header-cell
        grid-options="$ctrl.gridOptions"></th>
      <th ng-repeat="column in $ctrl.gridOptions.columns"
        header-cell
        column="column"
        grid-options="$ctrl.gridOptions"></th>
    </thead>
    <tbody>
      <tr ng-repeat="row in $ctrl.rows">
        <td ng-if="$ctrl.gridOptions.showIndexColumn">
          <span ng-bind="(($ctrl.currentPage - 1) * ($ctrl.rowsPerPage || 0)) + ($index + 1)"></span>
        </td>
        <td ng-repeat="column in $ctrl.gridOptions.columns"
          grid-cell="row"
          column-def="column"
          field-name="column.fieldName"
          ng-class="{ 'active': $ctrl.isSortedBy(column.fieldName) }"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="text-center" ng-if="$ctrl.gridOptions.defaultRowsPerPage">
  <ul class="pagination pagination-sm">
    <li>
      <a ng-click="$ctrl.goToPage(1)">
        <span>&laquo;</span>
      </a>
    </li>
    <li ng-repeat="page in $ctrl.pagination track by $index"
      class="page-item"
      ng-class="{ 'active': page === $ctrl.currentPage, 'disabled': page < 0 }">
      <a class="page-link" ng-if="page < 0">...</span>
      <a class="page-link" ng-if="page > 0" ng-click="$ctrl.goToPage(page)">{{ page }}</a>
    </li>
    <li>
      <a ng-click="$ctrl.goToPage($ctrl.totalPages || 1)">
        <span>&raquo;</span>
      </a>
    </li>
  </ul>

  <div ng-if="$ctrl.paginationOptions">
    <select class="form-control pagination-options"
      ng-model="$ctrl.rowsPerPage"
      ng-options="value for value in $ctrl.paginationOptions"
      ng-change="$ctrl.onRowsPerPageUpdated()">
    </select>
    <label class="text-nowrap">Rows per page</label>
  </div>

</div>