a.dropdown-toggle {
  cursor: pointer;
}

.navbar-brand.brand-image {
  width: 80px;
  background-image: url("/images/SHL_small.png");
  background-position: top;
  background-size: 50px;
  background-repeat: no-repeat;
}