.score-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;

  score-card {
    width: 160px;
    margin-left: 2px;
    margin-right: 2px;
    flex-shrink: 0;
    flex-grow: 0;

    .score-card {
      font-size: 12px;
      padding: 4px 8px;
      margin-bottom: 10px;

      .score-card-date {
        font-weight: 700;
      }

      .score-card-team {
        height: 18px;
        white-space: nowrap;
        overflow: hidden;
        position: relative;

        .score-card-team-info {
          position: absolute;
          left: 0;
          right: 9;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .score-card-score {
          font-weight: 700;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }
}

