<div class="container">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Pro
      </div>
      <div class="panel-body text-center">
        <div class="team-list-item" ng-repeat="team in $ctrl.proTeamList">
          <a ng-href="{{ '#!/teams/pro/' + team.UniqueID }}"
            title="{{ team.Name }}">{{ team.Abbre }}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Farm
      </div>
      <div class="panel-body text-center">
        <div class="team-list-item" ng-repeat="team in $ctrl.farmTeamList">
          <a ng-href="{{ '#!/teams/farm/' + team.UniqueID }}"
            title="{{ team.Name }}">{{ team.Abbre }}</a>
        </div>
      </div>
    </div>
  </div>
</div>