<nav class="navbar navbar-default navbar-stacked">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <league-selector initial-league="$ctrl.goalieStatsGridService.selectedLeague"
          on-change="$ctrl.leagueUpdated(league)"></league-selector>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Goalie Statistics
        </div>
        <div class="panel-body">
          <grid grid-options="$ctrl.gridOptions"></grid>
        </div>
      </div>
    </div>
  </div>
</div>