<div class="container-fluid title-container">
  <div class="row">
    <div class="col-md-2"><!-- spacer --></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <h3><span ng-bind="$ctrl.teamInfo.Name"></span></h3>
        </div>
      </div>
    </div>
    <div class="col-md-2"><!-- spacer --></div>
  </div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"><!-- spacer --></div>
      <div class="col-md-8">
        <ul class="nav navbar-nav">
          <li ng-class="{ active: $ctrl.page === 'Roster' }">
            <a ng-click="$ctrl.page = 'Roster'">Roster</a>
          </li>
          <li ng-class="{ active: $ctrl.page === 'Stats' }">
            <a ng-click="$ctrl.page = 'Stats'">Stats</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2"><!-- spacer --></div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"><!-- spacer --></div>
    <div class="col-md-8">

      <div class="panel panel-default" ng-show="$ctrl.page === 'Roster'">
        <div class="panel-heading">Skaters</div>
        <div class="panel-body">
          <grid grid-options="$ctrl.skaterRatingsGridOptions"></grid>
        </div>
      </div>
      <div class="panel panel-default" ng-show="$ctrl.page === 'Roster'">
        <div class="panel-heading">Goalies</div>
        <div class="panel-body">
          <grid grid-options="$ctrl.goalieRatingsGridOptions"></grid>
        </div>
      </div>

      <div class="panel panel-default" ng-show="$ctrl.page === 'Stats'">
        <div class="panel-heading">Skaters</div>
        <div class="panel-body">
          <grid ng-show="$ctrl.page === 'Stats'" grid-options="$ctrl.skaterStatsGridOptions"></grid>
        </div>
      </div>
      <div class="panel panel-default" ng-show="$ctrl.page === 'Stats'">
        <div class="panel-heading">Goalies</div>
        <div class="panel-body">
          <grid ng-show="$ctrl.page === 'Stats'" grid-options="$ctrl.goalieStatsGridOptions"></grid>
        </div>
      </div>

    </div>
    <div class="col-md-2"><!-- spacer --></div>
  </div>
</div>