@import 'variables';
@import '../node_modules/loaders.css/src/variables';
@import '../node_modules/loaders.css/src/animations/line-scale';

body {
  font-size: 14px;
}

a {
  cursor: pointer;
}

.table-responsive {
  overflow-x: auto;
}

.title-container {
  margin-top: -23px;
  background-color: $colour2;
  border-bottom: 1px solid #ddd;
}

.panel-default > .panel-heading {
  color: $colour4;
  background-color: $colour2;
}

.panel-heading {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}

$table-cell-border-color: #ddd;

.table {
  font-size: 12px;

  .header-cell-index {
    width: 35px;
    max-width: 35px;
    min-width: 35px;
  }

  .header-cell {
    width: 100%;
    height: 100%;
    cursor: pointer;

    .glyphicon {
      font-size: 8px;
    }
  }

  th {
    text-transform: uppercase;
  }

  td {
    &:last-child {
      border-right: none;
    }

    border-right: 1px dotted $table-cell-border-color
  }
}

.navbar-stacked {
  margin-top: -23px;
}