.skater-info-group {
  margin-top: 15px;
  margin-bottom: 15px;

  label {
    margin-bottom: 0;
  }
}

.skater-info-full {
  .skater-info-group {
    margin-right: 20px;
    white-space: nowrap;

    span {
      float: right;
    }
  }
}