<nav class="navbar navbar-default navbar-stacked">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group button-group-margin">
          <button type="button"
            class="btn btn-default"
            ng-class="{ 'active': $ctrl.selectedFormat === 'Wildcard' }"
            ng-click="$ctrl.updateFormat('Wildcard')">Wildcard</button>
          <button type="button"
            class="btn btn-default"
            ng-class="{ 'active': $ctrl.selectedFormat === 'Division' }"
            ng-click="$ctrl.updateFormat('Division')">Division</button>
          <button type="button"
            class="btn btn-default"
            ng-class="{ 'active': $ctrl.selectedFormat === 'Conference' }"
            ng-click="$ctrl.updateFormat('Conference')">Conference</button>
          <button type="button"
            class="btn btn-default"
            ng-class="{ 'active': $ctrl.selectedFormat === 'League' }"
            ng-click="$ctrl.updateFormat('League')">League</button>
        </div>

        <league-selector initial-league="$ctrl.selectedLeague"
          on-change="$ctrl.leagueUpdated(league)"
          disabled="$ctrl.loading || $ctrl.loadingFailed"></league-selector>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Standings</div>
        <div class="panel-body">
          <span ng-if="$ctrl.loadingFailed">Error loading standings.</span>
          <div class="loader-overlay" ng-if="$ctrl.loading">
            <div class="loader-inner line-scale">
              <div></div><div></div><div></div><div></div><div></div>
            </div>
          </div>
          <div class="table-responsive" ng-if="!$ctrl.loading && !$ctrl.loadingFailed">
            <table class="table table-condensed" ng-repeat="group in $ctrl.groups">
              <thead>
                <th style="width: 250px">{{ group.title }}</th>
                <th>GP</th>
                <th>W</th>
                <th>L</th>
                <th>OT</th>
                <th>PTS</th>
                <th>PTS%</th>
                <th>ROW</th>
                <th>GF</th>
                <th>GA</th>
                <th>DIFF</th>
                <th>Home</th>
                <th>Away</th>
                <th>L10</th>
                <th>Streak</th>
              </thead>
              <tbody>
                <tr ng-repeat="team in group.teams"
                  ng-class="{ 'wildcard-boundary' : $ctrl.selectedFormat === 'Wildcard' && $index === 2 && group.title === 'Wildcard' }">
                  <td>
                    <span class="standing-number" ng-bind="$index + 1"></span>
                    <span class="team-standing-title"
                      ng-if="team.StandingPlayoffTitle"
                      ng-bind="team.StandingPlayoffTitle + '-'"></span>
                    <a ng-href="{{ '#!/teams/' + $ctrl.selectedLeague + '/' + team.Number }}">
                      <span ng-bind="team.Name"></span>
                    </a>
                  </td>
                  <td><span ng-bind="team.GP"></span></td>
                  <td><span ng-bind="team.TotalWins"></span></td>
                  <td><span ng-bind="team.TotalLosses"></span></td>
                  <td><span ng-bind="team.TotalOther"></span></td>
                  <td><span ng-bind="team.Points"></span></td>
                  <td><span ng-bind="team.PointsPCT | number : 2"></span></td>
                  <td><span ng-bind="team.ROW"></span></td>
                  <td><span ng-bind="team.GF"></span></td>
                  <td><span ng-bind="team.GA"></span></td>
                  <td><span ng-bind="team.GF - team.GA"></span></td>
                  <td><span class="text-nowrap" ng-bind="team.TotalHomeWins + '-' + team.TotalHomeLosses + '-' + team.TotalHomeOther"></span></td>
                  <td><span class="text-nowrap" ng-bind="(team.TotalWins - team.TotalHomeWins) + '-' + (team.TotalLosses - team.TotalHomeLosses) + '-' + (team.TotalOther - team.TotalHomeOther)"></span></td>
                  <td><span class="text-nowrap" ng-bind="team.TotalL10Wins + '-' + team.TotalL10Losses + '-' + team.TotalL10Other"></span></td>
                  <td><span ng-bind="team.Streak"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>